<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<div class="form_auth_block">
    <div class="form_auth_block_content">
        <p class="form_auth_block_head_text">Авторизация</p>
        <form class="form_auth_style" action="#" method="post">
            <label>Введите Ваш имейл</label>
            <input type="text" name="username" placeholder="Введите Ваше имя" required >
            <label>Введите Ваш пароль</label>
            <input type="password" name="password" placeholder="Введите пароль" required >

            <button class="form_auth_button" type="submit" name="form_auth_submit">Войти</button>

        </form>
    </div>
</div>
</body>
</html>